body {
    font-family: Arial, sans-serif;
    height: 100;
    width: 100;
    margin: 0;
  }
  
form {
    display: flex;

}

.left-right {
    display: flex;
  }


.left-right > * {
    flex:1;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.input
{
    background-color: white;
    z-index: 1;
}

form > * {
    margin: 2rem;
}
  
input, button { 
    height: 3rem;
}
  
 
#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
#navbar {
    font-family: 'Poller One', Arial, sans-serif;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
    background-color:purple;
    color: white;
    display: flex;
    align-items: center;
}

#navbar a{
    color: cornSilk;
}
  
#navbar div {
    padding: 5px;
}

#container {
    align-items: center;
    cursor: default;
    display: flex;
    flex-grow: 2;
    justify-content: center;
  }
  
#student {
    display: flex;
}
  
#student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
  
table {
    border-collapse: collapse;
}
  
table,
th,
td {
    border: 1px solid #222222;
}
  
th,
td {
    padding: 5px;
}
  
tr:hover {
    cursor: pointer
}
  
img {
    height: 230px;
    width: 230px;
    border-radius: 5px;
}
   